# Игнорируем релизный и отладочный исполняемые файлы
kazino_royal
kazino_royal-dbg

*.o            # Файлы объектного кода
*.exe          # Исполняемые файлы, если будут на других платформах
*.log          # Файлы логов
