# Игнорируем релизный и отладочный исполняемые файлы
Kazino-Royal
Kazino-Royal-dbg

*.o            # Файлы объектного кода
*.exe          # Исполняемые файлы, если будут на других платформах
*.log          # Файлы логов
